    <div class="widget sponsors">
      <h3>Your Expo Sponsors</h3>
      <div id="slides">
        <div class="slides_container">
          <div>
            <%= image_tag "sponsor-logos/Cheeky-Monkeys-playhouse.jpg", :class=>"sponsor-logo" %>
          </div>
          <div>
            <%= image_tag "sponsor-logos/Domayne-logo.jpg", :class=>"sponsor-logo" %>
          </div>
          <div>
            <%= image_tag "sponsor-logos/DPS-Sponsor-Logo.jpg", :class=>"sponsor-logo" %>
          </div>
          <div>
            <%= image_tag "sponsor-logos/E-Way-Sponsor-Logo.jpg", :class=>"sponsor-logo" %>
          </div>
          <div>
            <%= image_tag "sponsor-logos/Hope-Sponsor-Logo.jpg", :class=>"sponsor-logo" %>
          </div>
          <div>
            <%= image_tag "sponsor-logos/MLC-Sponsor-Logo.jpg", :class=>"sponsor-logo" %>
          </div>
          <div>
            <%= image_tag "sponsor-logos/RSH-Square-Logo.png", :class=>"sponsor-logo" %>
          </div>
          <div>
            <%= image_tag "sponsor-logos/travel-authority-logo.jpg", :class=>"sponsor-logo" %>
          </div>
        </div>
      </div>
    </div>
