  <div class="bg-brand-stripe header">
    <div class="container">
      <header>
        <%= link_to(:northern_beaches_no_splash, :class=>"logo", :title=>"Your Expo Northern Beaches") do %>
          <%= image_tag "your-expo-logo.png", :class=>"logo-home", :alt=>"Your Expo Northern Beaches" %>
        <% end %>
        <div class="wse-logo-container">
          <div class="text">this site is brought to you by</div>
          <%= image_tag "wse-logo.png", :class=>"wse-logo", :alt=>"WorldStage Expo" %>
        </div>
        <nav class="main">
          <%= link_to "Interactive Floor Plan", :northern_beaches_no_splash, :class=>"floor-plan" %>
          <%= link_to "Travelling to the Expo", "#", :class=>"floor-plan" %>
        </nav>
      </header>
    </div>
  </div>
