<nav class="breadcrumb">
  <%= link_to "Main floor", :home %> &nbsp;&gt;&nbsp;
  <span>North-Eastern Section</span>
</nav>

<div class="clearfix">
  <div class="main-column">
    <h2>North Eastern Section</h2>
    <div class="brand-divider"></div>
    <p>Please click on a stand on the map to visit</p>
    <%= image_tag "tradeshow-map-NE.png", :name=>"tradeshowmapNE", :id=>"tradeshowmapNE", :usemap=>"#m_tradeshowmapNE", :width=>"568", :height=>"600" %>
    <map name="m_tradeshowmapNE" id="m_tradeshowmapNE">
      <area shape="poly" coords="357,378,399,378,399,405,357,405,357,378" href="<%= url_for(:worldstage_expo) %>" id="area_H100" title="WorldStage Expo" alt="WorldStage Expo" />
      <area shape="poly" coords="357,405,399,405,399,434,357,434,357,405" href="<%= url_for(:on_the_fuze) %>" id="area_H89" title="On The Fuze" alt="On The Fuze" />
      <area shape="poly" coords="207,27,153,28,153,55,207,55,207,27" href="javascript:;" title="D44" alt="D44" />
      <area shape="poly" coords="97,28,97,54,151,54,152,28,97,28" href="javascript:;" title="D43" alt="D43" />
      <area shape="poly" coords="27,28,29,83,69,83,69,55,96,55,96,29,27,28" href="" id="area_D42" title="D42" alt="D42" />
    </map>
  </div>
  <div class="side-column">
    <%= render "shared/sponsors" %>
    <div class="vertical-section-selector">
      <h3>Vendors in this Section</h3>
      <nav>
        <%= link_to "[H89] On The Fuze", :on_the_fuze, :id=>"link_H89" %>
        <%= link_to "[H100] WorldStage Expo", :worldstage_expo, :id=>"link_H100" %>
        <%= link_to "[D43] Microsoft" %>
        <%= link_to "[D44] Google" %>
        <%= link_to "[D45] Cisco" %>
      </nav>
    </div>
  </div>
</div>

<script>

  $('#tradeshowmapNE').maphilight({fillColor: 'ed5100', strokeColor: '888800', shadowFrom: 'fill', shadowRadius: 16, shadowX: 10, shadowY: 10});

  $('#link_H89').mouseover(function(e) {
    $('#area_H89').mouseover();
    }).mouseout(function(e) {
    $('#area_H89').mouseout();
  });

  $('#link_H100').mouseover(function(e) {
    $('#area_H100').mouseover();
    }).mouseout(function(e) {
    $('#area_H100').mouseout();
  });

  $(document).ready( function() {

  });
</script>
