<nav class="breadcrumb">
  <span> Main floor</span>
</nav>
<div class="clearfix">
  <div class="main-column">
    <h2>Main Floor</h2>
    <div class="brand-divider"></div>
    <p>Please select a section of the map for a closer view</p>
    <%= image_tag 'tradeshow-map.png', :name => 'tradeshowmap', :id => 'tradeshowmap', :usemap => '#m_tradeshowmap', :width=>"496", :height=>"600" %>
    <map name="m_tradeshowmap" id="m_tradeshowmap">
      <area shape="poly" coords="5,293,272,293,272,597,5,597,5,293" href="javascript:;" id="area_SW" title="South Western Section" alt="South Western Section" />
      <area shape="rect" coords="5,7,206,292" href="javascript:;" id="area_NW" title="North Western Section" alt="North Western Section" />
      <area shape="rect" coords="272,237,496,493" href="javascript:;" id="area_SE" title="South Eastern Section" alt="South Eastern Section" />
      <area shape="rect" coords="270,4,496,232" href="<%= url_for(:ne_section) %>" id="area_NE" title="North Eastern Section" alt="North Eastern Section" />
    </map>
  </div>
  <div class="side-column">
    <%= render "shared/rotating_sponsors" %>
    <div class="vertical-section-selector">
      <h3>Available Sections</h3>
      <nav>
        <%= link_to "All Woman Show/Home and Lifestyle Show", :ne_section, :id=>"link_NE" %>
        <%= link_to "Camping & Outdoors Expo", '#', :id=>"link_NW" %>
        <%= link_to "Home Show/Retired Life Expo", '#', :id=>"link_SE" %>
        <%= link_to "Pets Expo/Camping & Outdoors Expo", '#', :id=>"link_SW" %>
      </nav>
    </div>
  </div>
</div>

<div class="inline-content">
  <div class="inline" id="welcome">
    <div class="colorbox-content">
      <%= image_tag 'wse-logo.png' %>

      <h2>Enhance your clients’ live tradeshow experience.</h2>

      <p>WorldStage Expo is an Australian owned company which specialises in providing online platforms for tradeshows,
        fairs and expos through an interactive web-based environment.</p>

      <p>
      We expand your exposure and extend your audience to a global scale, enabling anyone to attend your event,
      regardless of their location or accessibility!  Attendees and visitors are engaged through access to show specials,
      presentations and demos, and social networking opportunities.
      </p>

      <p>
        We will fully customise your online tradeshow and tailor it to include a range of web-based collaboration tools
        and interactive networking. We track your visitors and provide you with a snapshot of attendees and potential
        clients.
      </p>

      <p>Now anyone can attend your event, regardless of their location or
      accessibility! Whether you are an event organiser or event participant,
      expand your exposure and increase the number of attendees by
      extending your audience to a global scale.</p>

      <p>Attendees and visitors are engaged through access to show specials,
      presentations and demos, and social networking opportunities.</p>

      <p>At WorldStage Expo, we believe in providing our clients with the best
      possible service and promoting their business to a world-wide audience.</p>
    </div>
    <button class="btn-close">Proceed to Your Northern Beaches Expo Demo</button>
  </div>
</div>


<script>
  $.urlParam = function(name){
      var results = new RegExp('[\\?&]' + name + '=([^&#]*)').exec(window.location.href);
      if (!results)
      {
          return 0;
      }
      return results[1] || 0;
  }

  $('#tradeshowmap').maphilight({fillColor: 'ed5100', strokeColor: '888800', shadowFrom: 'fill', shadowRadius: 16, shadowX: 10, shadowY: 10});

  $(document).ready( function() {

    $('#link_NE').mouseover(function(e) {
      $('#area_NE').mouseover();
      }).mouseout(function(e) {
      $('#area_NE').mouseout();
    });

    $('#link_NW').mouseover(function(e) {
      $('#area_NW').mouseover();
      }).mouseout(function(e) {
      $('#area_NW').mouseout();
    });

    $('#link_SE').mouseover(function(e) {
      $('#area_SE').mouseover();
      }).mouseout(function(e) {
      $('#area_SE').mouseout();
    });

    $('#link_SW').mouseover(function(e) {
      $('#area_SW').mouseover();
      }).mouseout(function(e) {
      $('#area_SW').mouseout();
    });

    //show a welcome dialog
    $('.widget.sponsors').hide();
    var showsplash = $.urlParam('splash');
    if (showsplash != 'none')
      $.colorbox({inline:true, href:"#welcome", height:615});

    //wire up close buttons
    $('.btn-close').click( function() {
      $.colorbox.close();
      $('.widget.sponsors').show();
    });

    //wire up slideshow
    $("#slides").slides({
        preload: true,
        generatePagination: false,
        play: 3000
    });

  });

</script>
<style type="text/css">

.panel{
    min-width: 100%;
    height: 98%;
    overflow-y: auto;
    overflow-x: hidden;
    margin-top: -150%;
    position: absolute;
    background: #000;
    box-shadow: 0px 4px 7px rgba(0,0,0,0.6);
    z-index: 2;
    -webkit-transition: all 2s ease-in-out;
    -moz-transition: all 2s ease-in-out;
    -o-transition: all 2s ease-in-out;
    transition: all 2s ease-in-out;
}
.panel:target{
    margin-top: 0%;
    background-color: #ffcb00;
}
</style>
