<nav class="breadcrumb">
  <%= link_to "Main floor", :home %> &nbsp;&gt;&nbsp;
  <%= link_to "All Woman Show/Home & Lifestyle Show", :ne_section %> &nbsp;&gt;&nbsp;
  <span>On The Fuze</span>
</nav>
<div class="stand-number">
  Stand
  <div class="number">H89</div>
</div>
<div class="copy">
  <div class="clearfix">
    <div class="main-column">
      <%= image_tag "company/on-the-fuze/logo.png", :class=>"logo" %>
      <h1 class="company-name">On the Fuze</h1>
      <p class="company-description">
        <span class="lbl-about-us">What we do</span>
        We help small businesses thrive by automating their workflow, marketing, and sales with Infusionsoft.
        As Infusionsoft Certified Consultants,
        our goal is to ensure you are getting the absolute most out of your Infusionsoft application.
      </p>
      <p>
        <span style="font-weight: bold;">More Time</span> - freeing up more time using automation on their business workflow and sales pipeline, so they can focus on hot leads.
      </p>
      <p>
        <span style="font-weight: bold;">Increase Revenue</span> - generating more revenue by automating their lead captures, prospect nurturing, and sales conversions.
      </p>
      <p>
        <span style="font-weight: bold;">Nurture Customer</span> - creating raving fans using automation to deliver and upsell to their existing clients, because raving fans tend to recommend and attract other raving fans.            </p>
      <p>
        We are a team of Infusionsoft specialists located in Australia, and are experts at leveraging Infusionsoft's features to help meet and exceed your business goals. We study so you don't have to.
      </p>

      <div class="brand-divider"></div>
      <section>
        <article class="clearfix">
          <div class="copy-container">
            <h2>Who we are</h2>
            <p>
              Karnie and Nathan Paris are the Mr. and Mrs. Infusionsoft of Australia. When you partner with On The Fuze,
              you are partnering with a team of Infusionsoft experts. We are both Infusionsoft Certified Consultants (ICC)
              and work exclusively with Infusionsoft.
             </p>
            <p>
              Over the last few years we have fallen in love with the entrepreneur spirit, and have decided to dedicate
              ourselves to working with and adding value to small businesses. We love the passion and sweat that goes into
              running a small business. We combine over 30 years of professional experience in customer relations, entrepreneurship,
              and IT Consulting.
            </p>
            <p>
              We specialise in Infusionsoft because we believe automating your workflow, sales, and marketing is one of
              the keys to success, and know that businesses that make this leap will be on their way to converting customers
              into raving fans.
            </p>
            <p>
              On a personal note, we are a family of 5, and absolutely love living in Brisbane, Australia. In between school, sport, and work, we love to head to the beach and relax.
            </p>
          </div>
        </article>
      </section>
    </div>
    <div class="side-column">
      <div class="image-header">
        Your Stall Hosts
      </div>
      <div id="slides">
        <div class="slides_container">
          <div>
            <%= image_tag "company/on-the-fuze/csr-01.jpg", :class=>"csr" %>
          </div>
          <div>
            <%= image_tag "company/on-the-fuze/csr-01.jpg", :class=>"csr" %>
          </div>
          <div>
            <%= image_tag "company/on-the-fuze/csr-01.jpg", :class=>"csr" %>
          </div>
        </div>
      </div>
      <div class="widget">
        <h3>Expo Special</h3>
        <p class="special">
          30% off Kickstart Package
        </p>
        <p>Ask one of our friendly staff at the stand about it!</p>
      </div>
      <div class="widget">
        <h3>Expo Free Seminars</h3>
        <p>"How to KickStart Your Business" (30min) - Main Auditorium today at 2pm and 4pm</p>
      </div>

    </div>
  </div>
  <div class="footer vendor">
    Contact On The Fuze:  <span class="contact"><a href="http://www.onthefuze.com.au">www.onthefuze.com.au</a></span> | <span class="contact"><a href="tel://0-733-951-972">07 3395 1972</a></span> | <span class="contact"><a href="mailto:info@onthefuze.com.au">info@onthefuze.com.au</a></span> | <span class="contact">Brisbane QLD</span>
  </div>
</div>

<script type="text/javascript">
  $(document).ready( function() {
    //wire up slideshow
    $("#slides").slides({
        preload: true,
        generatePagination: false,
        play: 3000
      });
  });
</script>
