<nav class="breadcrumb">
  <%= link_to "Main floor", :home %> &nbsp;&gt;&nbsp;
  <%= link_to "NE section", :ne_section %> &nbsp;&gt;&nbsp;
  <span>On The Fuse</span>
</nav>
<div class="stand-number">
  Stand
  <div class="number">H89</div>
</div>
<div class="copy">
  <div class="clearfix">
    <div class="main-column">
      <%= image_tag "company/on-the-fuze/logo.png", :class=>"logo" %>
      <h1 class="company-name">On the Fuze</h1>
      <p class="company-description">
        <span class="lbl-about-us">in our words...</span>&quot;Our ideal client is an established small business that has out grown basic auto-responders, and are finding it hard to find the time to follow up with new leads and existing customers. We work with you on the strategy and implementation to automate your business workflow, sales pipeline, lead generation, customer follow up, and referrals.
        We specialise in Infusionsoft and are experts at leveraging Infusionsoft's features to help meet and exceed your business goals. We study so you don't have to.&quot;&nbsp;<span class="quoted">-&nbsp;Karnie Paris (CEO)</span>
      </p>
      <div class="brand-divider"></div>
      <section>
        <article class="clearfix">
          <div class="video-container">
            <iframe width="280" height="205" src="http://www.youtube.com/embed/Bi1DqTFXBCc" frameborder="0" allowfullscreen></iframe>
          </div>
          <div class="copy-container video">
            <h2>What is InfusionSoft?</h2>
            <p>
              Nunc rhoncus urna id nibh molestie ultricies. Vivamus faucibus egestas arcu non varius. Fusce ultricies libero sit amet augue eleifend malesuada. Cras eu tortor a magna adipiscing cursus. Donec vehicula velit sit amet lectus tristique interdum. Sed varius sagittis enim. Nulla vulputate nisi ut ipsum placerat vel tincidunt magna gravida. Integer ornare aliquet placerat. Aenean tellus nibh, lacinia at posuere ut, suscipit et quam. Nullam a purus sapien, in fermentum velit. Ut viverra tellus quis libero vehicula tincidunt.
            </P>
          </div>
        </article>
        <article class="clearfix">
          <div class="image-container place-right">
            <%= image_tag "company/on-the-fuze/wisdom.jpg", :class=>"" %>
          </div>
          <div class="copy-container">
            <h2>What can you expect when you come and see us?</h2>
            <p>
              Nunc rhoncus urna id nibh molestie ultricies. Vivamus faucibus egestas arcu non varius. Fusce ultricies libero sit amet augue eleifend malesuada. Cras eu tortor a magna adipiscing cursus. Donec vehicula velit sit amet lectus tristique interdum. Sed varius sagittis enim. Nulla vulputate nisi ut ipsum placerat vel tincidunt magna gravida. Integer ornare aliquet placerat. Aenean tellus nibh, lacinia at posuere ut, suscipit et quam. Nullam a purus sapien, in fermentum velit. Ut viverra tellus quis libero vehicula tincidunt.
            </P>
          </div>
        </article>
      </section>
    </div>
    <div class="side-column">
      <div class="image-header">
        Your Stall Hosts
      </div>
      <div id="slides">
        <div class="slides_container">
          <div>
            <%= image_tag "company/on-the-fuze/csr-01.jpg", :class=>"csr" %>
          </div>
          <div>
            <%= image_tag "company/on-the-fuze/csr-01.jpg", :class=>"csr" %>
          </div>
          <div>
            <%= image_tag "company/on-the-fuze/csr-01.jpg", :class=>"csr" %>
          </div>
        </div>
      </div>
      <div class="widget">
        <h3>Today's Free Seminars</h3>
        <p>"How to KickStart Your Business" (30min) - Main Auditorium today at 2pm and 4pm</p>
      </div>
      <div class="widget">
        <h3>Today's Expo Special</h3>
        <p class="special">
          30% off Kickstart Package
        </p>
        <p>Ask one of our friendly staff at the stand about it!</p>
      </div>
      <div class="widget">
        <h3>Chat Online</h3>
      </div>
    </div>
  </div>
  <div class="footer vendor">
    Contact On The Fuze: <span class="contact"><a href="tel://0-733-951-972">07 3395 1972</a></span> | <span class="contact"><a href="mailto:info@onthefuze.com.au">info@onthefuze.com.au</a></span> | <span class="contact">Brisbane QLD</span>
  </div>  
</div>

<script type="text/javascript">
  $(document).ready( function() {
    //wire up slideshow
    $("#slides").slides({
        preload: true,
        generatePagination: false,
        play: 3000
      });
  });
</script>
