<nav class="breadcrumb">
  <%= link_to "Main floor", :home %> &nbsp;&gt;&nbsp;
  <%= link_to "NE section", :ne_section %> &nbsp;&gt;&nbsp;
  <span>On The Fuze</span>
</nav>
<div class="stand-number">
  Stand
  <div class="number">H100</div>
</div>
<div class="copy">
  <div class="clearfix">
    <div class="main-column">
      <%= image_tag "wse-logo-without-text.png", :class=>"logo" %>
      <h1 class="company-name">WorldStage Expo</h1>
      <p class="company-description">
        <span class="lbl-about-us">What we do</span>
        Enhance your clients’ live tradeshow experience
      </p>
      <p>
        Now anyone can attend your event, regardless of their location or accessibility! Whether you are an event organiser
        or event participant, expand your exposure and increase the number of attendees by extending your audience to a global scale.
      </p>
      <p>
        Attendees and visitors are engaged through access to show specials, presentations and demos, and social networking opportunities.
      </p>
      <div class="brand-divider"></div>
      <section>
        <article class="clearfix">
          <div class="copy-container">
            <h2>Who we are</h2>
            <p>
              Your online trade show is fully customisable and can be tailored to include a range of web-based collaboration tools and applications.  Major sponsors are highlighted.  Visitation is tracked, providing you with a snapshot of attendees and potential clients.  It enables web-based networking opportunities.
             </p>
            <p>
              At WorldStage Expo, we believe in providing our clients with the best possible service and promoting their business to a world-wide audience.
             </p>
          </div>
        </article>
      </section>
    </div>
    <div class="side-column">
      <div class="image-header">
        Your Stall Hosts
      </div>
      <div id="slides">
        <div class="slides_container">
          <div>
            <%= image_tag "company/on-the-fuze/csr-01.jpg", :class=>"csr" %>
          </div>
          <div>
            <%= image_tag "company/on-the-fuze/csr-01.jpg", :class=>"csr" %>
          </div>
          <div>
            <%= image_tag "company/on-the-fuze/csr-01.jpg", :class=>"csr" %>
          </div>
        </div>
      </div>
      <div class="widget">
        <h3>Expo Special</h3>
        <p class="special">
          Add any specials here
        </p>
        <p>Ask one of our friendly staff at the stand about it!</p>
      </div>
      <div class="widget">
        <h3>Expo Free Seminars</h3>
        <p>Offering a seminar or talk at the trade show? Announce it here</p>
      </div>

    </div>
  </div>
  <div class="footer vendor">
    Contact Worldstage Expo:  <span class="contact"><a href="http://www.worldstageexpo.com">www.worldstageexpo.com</a></span>
  </div>
</div>

<script type="text/javascript">
  $(document).ready( function() {
    //wire up slideshow
    $("#slides").slides({
        preload: true,
        generatePagination: false,
        play: 3000
      });
  });
</script>
