<nav class="breadcrumb">
  <%= link_to "Main floor", :home %> &nbsp;&gt;&nbsp;
  <%= link_to "All Woman Show/Home & Lifestyle Show", :ne_section %> &nbsp;&gt;&nbsp;
  <span>WorldStage Expo</span>
</nav>
<div class="stand-number">
  Stand
  <div class="number">H100</div>
</div>
<div class="copy">
  <div class="clearfix">
    <div class="main-column">
      <%= image_tag "wse-logo-without-text.png", :class=>"logo" %>
      <h1 class="company-name">WorldStage Expo</h1>
      <p class="company-description">
        <span class="lbl-about-us">What we do</span>
        Enhance your clients’ live tradeshow experience
      </p>
      <p>
      WorldStage Expo is an Australian owned company which specialises in providing online platforms for tradeshows, fairs and expos through an interactive web-based environment.
      </p>

      <p>
      We expand your exposure and extend your audience to a global scale, enabling anyone to attend your event, regardless of their location or accessibility!  Attendees and visitors are engaged through access to show specials, presentations and demos, and social networking opportunities.
      </p>

      <p>
      We will fully customise your online tradeshow and tailor it to include a range of web-based collaboration tools and interactive networking. We track your visitors and provide you with a snapshot of attendees and potential clients.
      </p>
      <div class="brand-divider"></div>
      <section>
        <article class="clearfix">
          <div class="copy-container">
            <h2>Who we are</h2>
            <p>
            WorldStage Expo is an Australian owned company.  We are a husband and wife team who, along with our IT specialists, believe in providing our clients with the best possible service and promoting their business to a world-wide audience.
            </p>

            <p>
            We established WorldStage Expo for two reasons.  Our first goal is to assist expo organisers and businesses that attend expos reach a wider audience.  Not only do we look forward to assisting in the promotion of many successful expos, our other key goal is to be able to "give a bit back" and make a difference to the world. With this end goal in mind, it is our intention is to donate a percentage of the profits of every online tradeshow, fair and expo to a charity relevant to the industry represented.
            </p>

            <p>
            We look forward to working with you.
            </p>
          </div>
        </article>
      </section>
    </div>
    <div class="side-column">
      <div class="image-header">
        Your Stall Hosts
      </div>
      <div id="slides">
        <div class="slides_container">
          <div>
            <%= image_tag "company/wse/P1011375.jpg", :class=>"csr" %>
          </div>
          <div>
            <%= image_tag "company/wse/Cath.jpg", :class=>"csr" %>
          </div>
          <div>
            <%= image_tag "company/wse/P1020532.JPG", :class=>"csr" %>
          </div>
        </div>
      </div>
      <div class="widget">
        <h3>Expo Special</h3>
        <p class="special">
          Add any specials here
        </p>
        <p>Ask one of our friendly staff at the stand about it!</p>
      </div>
      <div class="widget">
        <h3>Expo Free Seminars</h3>
        <p>Offering a seminar or talk at the trade show? Announce it here</p>
      </div>

    </div>
  </div>
  <div class="footer vendor">
    Contact Worldstage Expo:  <span class="contact"><a href="http://www.worldstageexpo.com">www.worldstageexpo.com</a></span>
  </div>
</div>

<script type="text/javascript">
  $(document).ready( function() {
    //wire up slideshow
    $("#slides").slides({
        preload: true,
        generatePagination: false,
        play: 3000
      });
  });
</script>
