<nav class="breadcrumb">
  <%= link_to "Main floor", :northern_beaches %> &nbsp;&gt;&nbsp;
  <%= link_to "All Woman Show/Home and Lifestyle Show", :northern_beaches_ne_section %> &nbsp;&gt;&nbsp;
  <span><%= @stall.name %></span>
</nav>
<div class="stand-number">
  Stand
  <div class="number"><%= @stall.stall_number %></div>
</div>
<div class="copy">
  <div class="clearfix">
    <div class="main-column">
      <%= image_tag "company/on-the-fuze/logo.png", :class=>"logo" %>
      <h1 class="company-name"><%= @stall.name %></h1>
      <p class="company-description">
        <span class="lbl-about-us"><%= @stall.description_one %></span>
      </p>
      <div class="brand-divider"></div>
      <section>
        <article class="clearfix">
          <div class="copy-container video">
            <h2>What is InfusionSoft?</h2>
            <p>
              <%= @stall.description_one %>
            </P>
          </div>
        </article>
        <article class="clearfix">
          <div class="image-container place-right">
            <%= image_tag "company/on-the-fuze/wisdom.jpg", :class=>"" %>
          </div>
          <div class="copy-container">
            <h2>What can you expect when you come and see us?</h2>
            <p>
              <%= @stall.description_two %>
            </P>
          </div>
        </article>
      </section>
    </div>
    <div class="side-column">
      <div class="image-header">
        Your Stall Hosts
      </div>
      <div id="slides">
        <div class="slides_container">
          <div>
            <%= image_tag "company/on-the-fuze/csr-01.jpg", :class=>"csr" %>
          </div>
          <div>
            <%= image_tag "company/on-the-fuze/csr-01.jpg", :class=>"csr" %>
          </div>
          <div>
            <%= image_tag "company/on-the-fuze/csr-01.jpg", :class=>"csr" %>
          </div>
        </div>
      </div>
      <div class="widget">
        <h3>Today's Free Seminars</h3>
        <p>"How to KickStart Your Business" (30min) - Main Auditorium today at 2pm and 4pm</p>
      </div>
      <div class="widget">
        <h3>Today's Expo Special</h3>
        <p class="special">
          30% off Kickstart Package
        </p>
        <p>Ask one of our friendly staff at the stand about it!</p>
      </div>
      <div class="widget">
        <h3>Chat Online</h3>
      </div>
    </div>
  </div>
  <div class="footer vendor">
    Contact <%= @stall.name %>: <span class="contact"><a href="tel://0-733-951-972"><%= @stall.phone %></a></span> | <span class="contact"><a href="mailto:<%= @stall.email %>"><%= @stall.email %></a></span> | <span class="contact"><%= @stall.address %></span>
  </div>
</div>

<script type="text/javascript">
  $(document).ready( function() {
    //wire up slideshow
    $("#slides").slides({
        preload: true,
        generatePagination: false,
        play: 3000
      });
  });
</script>
