<!DOCTYPE html>
<html>
<head>
  <title>WorldStage Expo</title>
  <link rel="icon" type="image/ico" href="/favicon.ico">
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= render "shared/ga" %>
</head>
<body>
  <div class="bg-brand-stripe header">
    <div class="container">
      <header>
        <%= link_to(:home, :class=>"logo", :title=>"Your Expo Northern Beaches") do %>
          <%= image_tag "your-expo-logo.png", :class=>"logo-home", :alt=>"Your Expo Northern Beaches" %>
        <% end %>
        <div class="wse-logo-container">
          <div class="text">this site is brought to you by</div>
          <%= image_tag "wse-logo.png", :class=>"wse-logo", :alt=>"WorldStage Expo" %>
        </div>
        <nav class="main">
          <%= link_to "Interactive Floor Plan", :home, :class=>"floor-plan" %>
          <%= link_to "Travelling to the Expo", "#", :class=>"floor-plan" %>
        </nav>
      </header>
    </div>
  </div>
  <div class="bg-spot">
    <div class="container main">
    <%= yield %>
    </div>
  </div>
  <div class="bg-brand-stripe footer">
    <footer class="container">
      <nav class="footer">
        <span class="copyright">&copy;&nbsp;2013 WorldStage Expo</span>
        <a href="http://www.worldstageexpo.com">About WSE</a>
      </nav>
      </footer>
  </div>
</body>
</html>
