<!DOCTYPE html>
<html>
<head>
  <title>WorldStage Expo</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="bg-brand-stripe">
    <div class="container">
      <header>
        <%= link_to(:home, :class=>"logo") do %>
          <%= image_tag "wse-logo-header.png", :class=>"logo-wse-home" %>
        <% end %>
        <nav class="main">
          <%= link_to "Interactive Floor Plan", :home %>
          <a href="">About WSE</a>
          <a href="">Contact Us</a>
        </nav>
      </header>
    </div>
  </div>
  <div class="bg-spot">
    <div class="container">
    <%= yield %>
    </div>
  </div>    

</body>
</html>
