<!DOCTYPE html>
<html>
<head>
  <title>WorldStage Expo</title>
  <link rel="icon" type="image/ico" href="/favicon.ico">
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= render "shared/ga" %>
</head>
<body class="<%= yield :body_class %>">
  <div class="bg-spot">
    <div class="container main">
    <%= yield %>
    </div>
  </div>
  <div class="bg-brand-stripe footer">
    <footer class="container">
      <nav class="footer">
        <span class="copyright">&copy;&nbsp;2013 WorldStage Expo</span>
        <a href="">About WSE</a>
        <a href="">Contact WSE</a>
      </nav>
      </footer>
  </div>
</body>
</html>
